@page "/"

@using Bingo.Client.Domain

@inject Game Game
@inject BoardsAvailable BoardsAvailable


<PageTitle>Bingo</PageTitle>

<center><h1>Bingo Game</h1></center>

<br />
<br />

@if (Game.Status == GameStatus.NotStarted)
{
    <center>
        <button class="btn btn-primary" @onclick="NewGame">Start New Game</button>
    </center>
}
else
{

    if (Game.Status == GameStatus.InProgress){
        <center>
            <button class="btn btn-primary" @onclick="DrawBall">Draw Ball</button>
        </center>
    }

    <br />

    @if (ball != null)
    {
        <center>
            <h1>@ball</h1>
        </center>

    }

    <br />
    <br />

    @*     <table class="table">
        <thead>
            <tr>
                <th>Balls Drawn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ball in Game.NumbersDrawn.Order())
            {
                <tr>
                    <td>@Game.GetBallLabel(ball)</td>
                </tr>
            }
        </tbody>
    </table> *@

    <table class="table">
        <thead>
            <tr>
                <th colspan="4">Balls Drawn</th>
            </tr>
        </thead>
        <tbody>
            @if (drawnBalls != null)
            {
                @for (int i = 0; i < drawnBalls.Count; i += columns)
                {
                    <tr>
                        @for (int j = 0; j < columns; j++)
                        {
                            if (i + j < drawnBalls.Count)
                            {
                                <td>@Game.GetBallLabel(drawnBalls[i + j])</td>
                            }
                            else
                            {
                                <td></td> <!-- Empty cell for alignment -->
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>

    <br />
    <br />

    <button class="btn btn-primary" @onclick="EndGame">Finish</button>
}



@code {
    // [Parameter]
    // public Guid Id { get; set; }

    private string? ball;
    private Board? Board;
    private List<int>? drawnBalls;
    private int columns = 5;

    protected override void OnInitialized()
    {
        Board = BoardsAvailable.Boards.FirstOrDefault()!;
        Game.Board = Board;
    }

    private void NewGame()
    {
        if (Board != null)
        {
            Game.StartGame(Board);
        }
    }

    private void DrawBall()
    {
        ball = Game.DrawBall();
        drawnBalls = Game.NumbersDrawn.Order().ToList();
    }

    private void EndGame()
    {
        ball = null;
        drawnBalls = null;
        Game.EndGame();
    }
}
